::-webkit-input-placeholder {
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: 200;
  color: #fff;
}

:-moz-placeholder {
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: 200;
  color: #fff;
}

::-moz-placeholder {
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: 200;
  color: #fff;
}

:-ms-input-placeholder {
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: 200;
  color: #fff;
}
