<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./reset.css" />
    <link rel="stylesheet" href="./helper.css" />
    <link rel="stylesheet" href="./style.css" />
    <title>Doshka</title>
  </head>
  <body class="page">
    <header class="header-wrapper">
      <div class="header-container">
        <div class="container">
          <div class="header">
            <form action="#" class="header__search">
              <input
                type="text"
                class="header__search-input"
                placeholder="Пошук"
              />
              <img
                src="./img/search.svg"
                alt="search-icon"
                class="header__search-icon"
              />
            </form>
            <div class="notification">
              <button class="notification__button">
                <img
                  src="./img/bell.svg"
                  alt="bell"
                  class="notification__icon"
                />
                <span class="notification__counter">3</span>
              </button>
            </div>
            <nav class="navigation">
              <button class="navigation__button">
                <div class="navigation__line"></div>
                <div class="navigation__line"></div>
                <div class="navigation__line"></div>
              </button>
            </nav>
          </div>
          <div class="header-description">
            <span class="header-description__brand">Doshka.ua</span>
            <p class="header-description__text">
              <span class="header-description__text-bold">
                Найбільше оголошень тут
              </span>
              Знаходьте все що вам потрібно
            </p>
          </div>
        </div>
      </div>
    </header>
    <div class="categories-wrapper">
      <div class="categories-container">
        <div class="container">
          <ul class="categories-list">
            <li class="categories__item">
              <a href="#" class="categories__item-link">
                <div class="categories__img-wrapper">
                  <img
                    src="./img/pets.svg"
                    alt="pets"
                    class="categories__img"
                  />
                </div>
                <p class="categories__title">ZOO світ</p>
                <span class="categories__vacancy">15 вакансій</span>
              </a>
            </li>
            <li class="categories__item">
              <a href="#" class="categories__item-link">
                <div class="categories__img-wrapper">
                  <img
                    src="./img/clothes.svg"
                    alt="clothes"
                    class="categories__img"
                  />
                </div>
                <p class="categories__title">Одяг</p>
                <span class="categories__vacancy">38 вакансій</span>
              </a>
            </li>
            <li class="categories__item">
              <a href="#" class="categories__item-link">
                <div class="categories__img-wrapper">
                  <img
                    src="./img/stuff.svg"
                    alt="stuff"
                    class="categories__img"
                  />
                </div>
                <p class="categories__title">Текстиль</p>
                <span class="categories__vacancy">8 вакансій</span>
              </a>
            </li>
          </ul>
          <a href="#" class="categories__show-more">
            <span class="categories__show-more-text">Переглянути всі</span>
            <img
              src="./img/arrow.svg"
              alt="arrow"
              class="categories__show-more-arrow"
            />
          </a>
        </div>
      </div>
    </div>
    <div class="products-wrapper">
      <div class="products-container">
        <div class="container">
          <ul class="products-list">
            <li class="products-item">
              <div class="products-item__img-wrapper">
                <img
                  src="https://picsum.photos/300"
                  alt="product"
                  class="products-item__img"
                />
                <img
                  src="./img/avatar-2.jpg"
                  alt="avatar"
                  class="products-item__user-avatar"
                />
                <span class="products-item__vip">Vip</span>
              </div>
              <div class="products-item__info">
                <h6 class="products-item__title">Мій особистий монітор</h6>
                <span class="products-item__price">7500$</span>
                <div class="products-item__about">
                  <span class="products-item__status">Майже новий</span>
                  <div class="products-item__line"></div>
                  <span class="products-item__city">Ужгород</span>
                </div>
                <div class="products-item__buttons">
                  <button class="products-item__like-button">
                    <img
                      src="./img/like.svg"
                      alt="like"
                      class="products-item__like-icon"
                    />
                  </button>
                  <button class="products-item__buy-button">
                    <span class="products-item__buy-button-text">Купити</span>
                  </button>
                </div>
              </div>
            </li>

            <li class="products-item">
              <div class="products-item__img-wrapper">
                <img
                  src="https://picsum.photos/301"
                  alt="product"
                  class="products-item__img"
                />
                <img
                  src="./img/avatar-1.jpg"
                  alt="avatar"
                  class="products-item__user-avatar"
                />
                <span class="products-item__vip">Vip</span>
              </div>
              <div class="products-item__info">
                <h6 class="products-item__title">Шафа настінна</h6>
                <span class="products-item__price">200$</span>
                <div class="products-item__about">
                  <span class="products-item__status">Майже новий</span>
                  <div class="products-item__line"></div>
                  <span class="products-item__city">Ужгород</span>
                </div>
                <div class="products-item__buttons">
                  <button class="products-item__like-button">
                    <img
                      src="./img/like.svg"
                      alt="like"
                      class="products-item__like-icon"
                    />
                  </button>
                  <button class="products-item__buy-button">
                    <span class="products-item__buy-button-text">Купити</span>
                  </button>
                </div>
              </div>
            </li>
            <li class="products-item">
              <div class="products-item__img-wrapper">
                <img
                  src="https://picsum.photos/302"
                  alt="product"
                  class="products-item__img"
                />
                <img
                  src="./img/avatar-1.jpg"
                  alt="avatar"
                  class="products-item__user-avatar"
                />
                <span class="products-item__vip">Vip</span>
              </div>
              <div class="products-item__info">
                <h6 class="products-item__title">Шафа настінна</h6>
                <span class="products-item__price">200$</span>
                <div class="products-item__about">
                  <span class="products-item__status">Майже новий</span>
                  <div class="products-item__line"></div>
                  <span class="products-item__city">Ужгород</span>
                </div>
                <div class="products-item__buttons">
                  <button class="products-item__like-button">
                    <img
                      src="./img/like.svg"
                      alt="like"
                      class="products-item__like-icon"
                    />
                  </button>
                  <button class="products-item__buy-button">
                    <span class="products-item__buy-button-text">Купити</span>
                  </button>
                </div>
              </div>
            </li>
            <li class="products-item">
              <div class="products-item__img-wrapper">
                <img
                  src="https://picsum.photos/303"
                  alt="product"
                  class="products-item__img"
                />
                <img
                  src="./img/avatar-2.jpg"
                  alt="avatar"
                  class="products-item__user-avatar"
                />
                <span class="products-item__vip">Vip</span>
              </div>
              <div class="products-item__info">
                <h6 class="products-item__title">Ігровий монітор</h6>
                <span class="products-item__price">7500$</span>
                <div class="products-item__about">
                  <span class="products-item__status">Майже новий</span>
                  <div class="products-item__line"></div>
                  <span class="products-item__city">Ужгород</span>
                </div>
                <div class="products-item__buttons">
                  <button class="products-item__like-button">
                    <img
                      src="./img/like.svg"
                      alt="like"
                      class="products-item__like-icon"
                    />
                  </button>
                  <button class="products-item__buy-button">
                    <span class="products-item__buy-button-text">Купити</span>
                  </button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
