<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./reset.css" />
    <link rel="stylesheet" href="./helper.css" />
    <link rel="stylesheet" href="./style.css" />
    <title>Doshka</title>
  </head>
  <body class="page">
    <header class="header-wrapper">
      <div class="header-container">
        <div class="container">
          <div class="header">
            <form action="#" class="header__search">
              <input
                type="text"
                class="header__search-input"
                placeholder="Пошук"
              />
              <img
                src="./img/search.svg"
                alt="search-icon"
                class="header__search-icon"
              />
            </form>
            <div class="notification">
              <button class="notification__button">
                <img
                  src="./img/bell.svg"
                  alt="bell"
                  class="notification__icon"
                />
                <span class="notification__counter">3</span>
              </button>
            </div>
            <nav class="navigation">
              <button class="navigation__button">
                <div class="navigation__line"></div>
                <div class="navigation__line"></div>
                <div class="navigation__line"></div>
              </button>
            </nav>
          </div>
          <div class="promotion">
            <p class="promotion-top">Оберіть</p>
            <div class="promotion-bottom">Просування</div>
          </div>
        </div>
      </div>
    </header>
    <div class="promotion-tariffs-wrapper">
      <div class="promotion-tariffs">
        <div class="container">
          <ul class="promotion-tariffs__list">
            <li class="promotion-tariffs__item">
              <img
                src="./img/premium.png"
                alt="promotion"
                class="promotion-tariffs__img"
              />
              <h6 class="promotion-tariffs__title">PREMIUM</h6>
              <span class="promotion-tariffs__price">
                <img
                  src="./img/dollar.svg"
                  alt="dollar"
                  class="promotion-tariffs__price-dollar"
                />239</span
              >
              <ul class="promotion-tariffs__benefits-list">
                <li class="promotion-tariffs__benefits-item">
                  VIP оголошення 7 днів
                </li>
                <li class="promotion-tariffs__benefits-item">ТОП на 7 днів</li>
                <li class="promotion-tariffs__benefits-item">
                  Іконка преміум статусу
                </li>
              </ul>
              <a href="#" class="promotion-tariffs__link-buy">Обрати</a>
            </li>
            <li class="promotion-tariffs__item">
              <img
                src="./img/speed.png"
                alt="promotion"
                class="promotion-tariffs__img"
              />
              <h6 class="promotion-tariffs__title">ШВИДКА</h6>
              <span class="promotion-tariffs__price">
                <img
                  src="./img/dollar.svg"
                  alt="dollar"
                  class="promotion-tariffs__price-dollar"
                />149</span
              >
              <ul class="promotion-tariffs__benefits-list">
                <li class="promotion-tariffs__benefits-item">
                  VIP оголошення 7 днів
                </li>

                <li class="promotion-tariffs__benefits-item">
                  Іконка преміум статусу
                </li>
              </ul>
              <a href="#" class="promotion-tariffs__link-buy">Обрати</a>
            </li>
            <li class="promotion-tariffs__item">
              <img
                src="./img/easy.png"
                alt="promotion"
                class="promotion-tariffs__img"
              />
              <h6 class="promotion-tariffs__title">ЛЕГКА</h6>
              <span class="promotion-tariffs__price">
                <img
                  src="./img/dollar.svg"
                  alt="dollar"
                  class="promotion-tariffs__price-dollar"
                />89</span
              >
              <ul class="promotion-tariffs__benefits-list">
                <li class="promotion-tariffs__benefits-item">
                  ТОП оголошення в <br />вашій категорії <br />3 дні
                </li>
              </ul>
              <a href="#" class="promotion-tariffs__link-buy">Обрати</a>
            </li>
          </ul>

          <a href="#" class="remove-advertising">Без реклами</a>
        </div>
      </div>
    </div>
  </body>
</html>
