<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./reset.css" />
    <link rel="stylesheet" href="./helper.css" />
    <link rel="stylesheet" href="./style.css" />
    <title>Doshka</title>
  </head>
  <body class="page">
    <header class="header-wrapper">
      <div class="header-container">
        <div class="container">
          <div class="header">
            <form action="#" class="header__search">
              <input
                type="text"
                class="header__search-input"
                placeholder="Пошук"
              />
              <img
                src="./img/search.svg"
                alt="search-icon"
                class="header__search-icon"
              />
            </form>
            <div class="notification">
              <button class="notification__button">
                <img
                  src="./img/bell.svg"
                  alt="bell"
                  class="notification__icon"
                />
                <span class="notification__counter">3</span>
              </button>
            </div>
            <nav class="navigation">
              <button class="navigation__button">
                <div class="navigation__line"></div>
                <div class="navigation__line"></div>
                <div class="navigation__line"></div>
              </button>
            </nav>
          </div>
          <div class="header-description">
            <div class="header-description__bottom">сторінка</div>
            <p class="header-description__top">Оголошення</p>
          </div>
        </div>
      </div>
    </header>
    <div class="announcement-wrapper">
      <div class="announcement">
        <div class="first-part">
          <div class="announcement-product__images-wrapper">
            <img
              src="./img/first.png"
              alt="product"
              class="announcement-product-img announcement-product-img_first"
            />
            <img
              src="./img/second.png"
              alt="product"
              class="announcement-product-img announcement-product-img_second"
            />
            <img
              src="./img/third.png"
              alt="product"
              class="announcement-product-img announcement-product-img_third"
            />
          </div>

          <h2 class="announcement__title">Айфон 13 неверлок</h2>

          <span class="announcement__price">550$</span>
        </div>

        <div class="second-part-wrapper">
          <div class="second-part">
            <div class="container">
              <div class="categories-sort-by">
                <ul class="categories-sort-by__list">
                  <li class="categories-sort-by__item">
                    <img
                      src="./img/geo.svg"
                      alt="price"
                      class="categories-sort-by__item-icon"
                    />
                    <span class="categories-sort-by__item-name">Харків</span>
                  </li>
                  <li class="categories-sort-by__item">
                    <span class="categories-sort-by__item-name"
                      >Майже новий</span
                    >
                  </li>
                </ul>
              </div>
              <div class="announcement__description">
                <p class="announcement__description-text">
                  Телефон находится в отличном состоянии, полная
                  работоспособность. <br />Неверлок - работает co всеми
                  операторами мира без p-сим. <br /><br />Износ батареи 89%.<br />
                  iCloud чистый. <br />Face ID работает.<br />
                  B комплекте зарядка...
                </p>
              </div>
              <div class="button-group">
                <button class="announcement__like-button">
                  <img
                    src="./img/like.svg"
                    alt="like"
                    class="announcement__like-icon"
                  />
                </button>
                <button class="announcement-form__submit">Написати</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
